#JUCE generated content
Builds
BinaryData.h
BinaryData.cpp
BinaryData2.cpp
BinaryData3.cpp
BinaryData4.cpp
BinaryData5.cpp
BinaryData6.cpp
BinaryData7.cpp
BinaryData8.cpp
BinaryData9.cpp
BinaryData10.cpp
BinaryData11.cpp
BinaryData12.cpp
BinaryData13.cpp
BinaryData14.cpp
BinaryData15.cpp

#Windows Temp Cache Files
[Tt]humbs.db

#macOS Finder and whatnot
.DS_Store
*.DS_Store
*.swp
*~

#Visual Studio Code files
.vscode/

#Extra folders
Demos
AndroidTest
