#JUCE generated content
Builds
BinaryData.h
BinaryData*.cpp
JuceLibraryCode

#Windows Temp Cache Files
[Tt]humbs.db

#macOS Finder and whatnot
.DS_Store
*.DS_Store
*.swp
*~

#Visual Studio Code files
.vscode/

#Test Plugins
*.dll
*.vst3

#Extra folders
Demos
Testing
spag.png

*.exe
